:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);

  --heading-font-size: 2.4rem;
  --body-font-size-md: 1.6rem;
  --body-font-size-sm: 1.4rem;

  --border-radius: 2rem;
  --border-radius-half: 1rem;
  --border: 1px solid hsl(0, 0%, 7%);
  --box-shadow: 0.8rem 0.8rem 0px 0px #000000;
  --box-shadow-hover: 1.6rem 1.6rem 0px 0px #000000;

  --padding: 2.4rem;
  --margin: 1.6rem;
  --row-gap: 2.4rem;
  --row-gap-half: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: var(--body-font-size-md);
  color: var(--black);
  background-color: var(--yellow);
  padding: 2.4rem;
}

.post-card {
  max-width: 38.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  row-gap: var(--row-gap);
  padding: var(--padding);
  transition: 0.1s box-shadow ease;
}

.post-card:hover {
  box-shadow: var(--box-shadow-hover);
}

.post-card__image {
  width: 100%;
  border-radius: var(--border-radius-half);
}

.post-card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--row-gap-half);
}

.post-card__tag {
  display: inline-block;
  font-size: var(--body-font-size-sm);
  background-color: var(--yellow);
  font-weight: 800;
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
}

.post-card__date {
  font-size: var(--body-font-size-sm);
  padding: 0.2rem 0;
}

.post-card__title {
  font-size: var(--heading-font-size);
  font-weight: 800;
  padding: 0.3rem 0;
  transition: all 0.1s ease;
}

.post-card__title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.post-card__description {
  color: var(--gray);
  line-height: 1.45;
  word-spacing: 0.5px;
  letter-spacing: 0.2px;
}

.post-card__author {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  transition: 0.1s color ease;
}

.post-card__author:hover {
  color: var(--yellow);
  cursor: pointer;
}

.post-card__author--avatar {
  width: 3.2rem;
}

.post-card__author--name {
  font-size: var(--body-font-size-sm);
  font-weight: 800;
  letter-spacing: -0.25px;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 45%;
  }

  body {
    padding: 1.5rem;
  }
}
